body{
    background-color: #ffffff;
    /* background-image: url("images/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    }
    
    h5{
        color: red;
    }
    
    .testing{
        color: blue;
    }
    
    #testing-para1{
        font-size: 10px;
    }
    
    .font-apply{
        font-size: 20px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
    }
    
    .tranformation-apply{
        text-transform: uppercase;
        /* text-transform: capitalize; */
        /* text-transform: lowercase; */
        /* text-transform: none; */
    }
    
    .decoration-apply{
        text-decoration: underline;
        /* text-decoration: overline; */
        /* text-decoration: line-through; */
        /* text-decoration: none; */
    }
    
    .text-atag-in-para{
        text-decoration: none;
        color: red;
    }
    
    .apply-style-to-atag{
        text-decoration: none;
        color: black;
    }
    
    .apply-all-ftd{
        font-size: 20px;
        font-weight: 600;
        font-family: cursive;
        font-style: italic;
        text-transform: uppercase;
        text-decoration: underline;
        color: #66ff66;
        background-color: peachpuff;
    }
    
    .play-with-letter{
        letter-spacing: 22px;
        word-spacing: 20px;
        line-height: 0px;
        text-align: center;
        /* text-align: left; */
        /* text-align: right; */
    }
    
    .change-w{
        font-size: 50px;
        color: orchid;
        text-transform: uppercase;
    }
    
    ul{
        list-style-type: square;
        /* list-style-image: url("images/right.png"); */
        /* list-style: none; */
        /* list-style-position: inside; */
        /* list-style-position: outside; */
    }
    
    div.b-color{
        background-color: #88aaaa;
    }
    
    div.first {
        opacity: 0.1;
      }
      
      div.second {
        opacity: 0.3;
      }
      
      div.third {
        opacity: 0.6;
      }
    
      /* .bg-1{
          background-image: url("images/banner.jpg");
          background-repeat: no-repeat;
     } */
    
     .border-property{
         /* border-style: dotted; */
         /* border-style: solid;
         border-width: 10px;
         border-color: red; */
         border-radius: 30px;
         border: 10px solid red;
     }
    
     .padding-margin-property{
        border: 3px solid red;
        /* margin apply on all side l r t b */
        margin: 50px; 
        /* margin-top: 100px; */
        /* margin-bottom: 100px; */
        /* margin-left: 100px; */
        /* margin-right: 100px; */
        /* margin apply to all side with different value t r b l */
        /* margin: 90px 50px 100px 30px; */
        /* margin apply with same value on tb and same value on lr .... tb lr */
        /* margin: 100px 20px; */
    
        padding: 50px;
        /* padding: 100px 50px;  */
        /* padding: 100px 20px 50px 60px; */
        /* padding-top: 10px; */
        /* padding-bottom: 20px; */
        /* padding-right: 30px; */
        /* padding-left: 50px; */
     }